{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% include "_partials/_head.html" %}

<body>
	<header>
		<div id="banner-header">
			<a href="{{ siteUrl }}">
				<img src="" alt="{{ siteName }}">

			{% if homepage %}
				<h2>Taste Whiskey Together</h2>
			{% endif %}

			</a>
		</div>
		<nav>
			<ul class="page-links">
				<li><a href="{{ url('blog') }}" {% if craft.request.firstSegment == 'blog' %}class="active"{% endif %}>Blog</a></li>
				<li><a href="{{ url('contact') }}">Contact</a></li>
				<li><a href="{{ url('events') }}">Events</a></li>
			</ul>
			<ul class="social-links">
				<li><a href="http://twitter.com/seattle_whiskey" target="_blank">[t]</a></li>
				<li><a href="http://facebook.com/seattlewhiskeyco" target="_blank">[f]</a></li>
				<li><a href="http://instagram.com/seattlewhiskeyco" target="_blank">[i]</a></li>
			</ul>
		</nav>
	</header>

	<main id="content" role="main">

		{% block content %}
			PAGE TEMPLATE CONTENT GOES HERE
		{% endblock %}

	</main>

	<footer id="footer">
		&copy;{{ now.year }} {{ siteName }}
	</footer>

</body>
</html>
